/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

/* Global Variables */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --bg_color: #222020;
    --main_color: red;
    --text_color: white;
}

body {
    background-color: var(--bg_color);
}

/* Navbar */

.nav {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 50px;
    height: 40px;
    align-items: center;
}

.firstNavItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.firstNavItem span {
    color: var(--main_color);
    font-family: 'Macondo', cursive;
    font-weight: bolder;
}

.firstNavItem .navbarIcon img {
    width: 30px;
    height: 30px;
}

.secondNavItem {
    display: flex;
    align-items: center;
}

.secondNavItem input{
    width: 400px;
    border: 2px solid var(--main_color);
    outline: none;
    transition: 0.3s;
    border-radius: 5px;
}

.secondNavItem i {
    margin-left: 5px;
    color: var(--text_color);
    transition: 0.3s;
}

.thirdNavItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fa-house {
    color: var(--text_color);
}

.fa-house:hover {
    text-shadow: 2px 2px 3px var(--main_color);
}

.thirdNavItem .btn {
    background-color: var(--main_color);
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: var(--text_color);
    font-size: 12px;
    transition: 0.3s;
    font-weight: 500;
}

.secondNavItem input:hover {
    box-shadow: 2px 2px 3px gray;
}

.secondNavItem i:hover {
    text-shadow: 2px 2px 3px var(--main_color);
}

.thirdNavItem .btn:hover {
    color: var(--bg_color);
    box-shadow: 2px 2px 3px gray;
}

/* Cover Photo Section */

.cover-box {
    display: flex;
    flex-direction: column;
    position: relative;
}

.cover-img img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    opacity: 0.5;
}

.cover-content {
    color: var(--text_color);
    position: absolute;
    top: 150px;
    left: 50px;
    
}

.cover-content h1 {
    font-size: 50px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 3px var(--main_color);
    transition: 0.5s;
    font-family: 'Macondo', cursive;
}

.cover-content p {
    font-size: 40px;
    margin-bottom: 15px;
    text-shadow: 2px 2px 3px var(--main_color);
    font-family: 'Macondo', cursive;
}

.readmore-btn {
    color: black;
    font-size: 15px;
    background-color: gold;
    padding: 5px;
    border-radius: 10px;
    text-shadow: 2px 2px 3px gray;
    font-weight: 500;
}

.readmore-btn i {
    margin-left: 5px;
}

.cover-content h1:hover {
    animation: bounce;
    animation-duration: 1.5s;
    cursor: pointer;
}

.readmore-btn:hover {
    box-shadow: 2px 2px 3px var(--main_color);
}

/* News Section */

.news-page {
    max-width: 800px;
    margin: 0 auto;
}

.news-page h2 {
    color: var(--text_color);
    font-family: 'Macondo', cursive;
    text-shadow: 2px 2px 3px var(--main_color);
    margin-bottom: 20px;
    position: relative;
}

.news-card {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.news-img img {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px gray;
    transition: 0.5s;
    opacity: 0.7;
}

.news-page h2::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: gold;
    transition: 0.8s;
    border-radius: 5px;
}

.news-page h2:hover::after {
    width: 80%;
}

.news-img img:hover {
    transform: scale(1.1);
    opacity: 1;
}

/* Dota Hero Section */

.heroes-img {
    max-width: 800px;
    margin: 20px auto 0 auto;
}

.heroes-photo {
    display: flex;
    justify-content: center;
}

.heroes-photo img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 3px gray;
}

.heroes-img h2 {
    color: var(--text_color);
    font-family: 'Macondo', cursive;
    text-shadow: 2px 2px 3px var(--main_color);
    margin-bottom: 20px;
    position: relative;
}

.heroes-img h2::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: gold;
    transition: 0.8s;
    border-radius: 5px;
}

.heroes-img h2:hover::after {
    width: 80%;
}

.hero-box {
    display: flex;
    gap: 15px;
}

.hero-choice button {
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px;
    margin: 5px;
    background-color: var(--bg_color);
    color: var(--text_color);
    text-shadow: 2px 2px 3px gray;
    position: relative;
}

.hero-choice button::after {
    content: " ";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: gold;
    transition: 0.5s;
}

.hero-choice button:hover::after{
    width: 100%;
}


/* The International Section */

.ti {
    max-width: 800px;
    margin: 20px auto 30px auto;
}

.ti-content h1 {
    color: var(--text_color);
    text-shadow: 2px 2px 3px var(--main_color);
    margin-bottom: 10px;
    font-family: 'Macondo', cursive;
    font-size: 25px;
}

.ti-header {
    display: flex;
    justify-content: space-between;
}

.ti-img img {
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 3px gray;
}

.ti-content {
    padding-top: 50px;
}

.tiTable h2 {
    color: var(--text_color);
    font-family: 'Macondo', cursive;
    text-shadow: 2px 2px 3px var(--main_color);
    margin: 20px 0;
    position: relative;
}

.tiTable h2::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: gold;
    transition: 0.8s;
    border-radius: 5px;
}

.tiTable h2:hover::after {
    width: 80%;
}

table {
    width: 100%; 
    border-collapse: collapse;
    border: 1px solid gray; 
    margin-top: 20px;
    box-shadow: 2px 2px 3px gray;
}

th , td {
    color: var(--text_color);
    text-align: center;
    height: 25px;
}

td a {
    color: var(--text_color);
}

th {
    height: 50px;
    color: var(--text_color);
    text-shadow: 2px 2px 3px var(--main_color);
    border-bottom: 2px solid gold;
}

td , td a {
    font-family: 'Macondo', cursive;
}

tbody:hover {
    background-color: gray;
}

/* Dota Players section */

.dota-players {
    max-width: 800px;
    margin: 0 auto;
}

.dota-players h2 {
    color: var(--text_color);
    font-family: 'Macondo', cursive;
    text-shadow: 2px 2px 3px var(--main_color);
    margin: 20px 0;
    position: relative;
}

.dota-players h2::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: gold;
    transition: 0.8s;
    border-radius: 5px;
}

.dota-players h2:hover::after {
    width: 80%;
}

.player-img {
    display: grid;
   grid-template-columns: auto auto auto;
   gap: 10px;
   box-shadow: 2px 2px 3px gray;
}

.player-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}

/* Epic Moment of Ti */

.epicMoment {
    max-width: 800px;
    margin: 0 auto;
}

.epic {
    column-count: 2;
    column-gap: 30px;
    margin: 10px 0;
}

.epic h2 {
    color: var(--text_color);
    column-span: all;
    margin-bottom: 10px;
}

.epic h2 {
    color: var(--text_color);
    font-family: 'Macondo', cursive;
    text-shadow: 2px 2px 3px var(--main_color);
    margin: 20px 0;
    position: relative;
}

.epic h2::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: gold;
    transition: 0.8s;
    border-radius: 5px;
}

.epic h2:hover::after {
    width: 80%;
}

.epic details {
    background-color: black;
}

.epic details summary {
    color: var(--text_color);
    text-shadow: 2px 2px 3px var(--main_color);
    position: relative;
    margin-bottom: 10px;
} 

.epic details summary::after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: gold;
    border-radius: 5px;
    transition: 0.5s;
}

.epic details summary:hover::after {
    width: 100%;
}

.epic-box img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 2px 2px 3px gray;
    margin-bottom: 20px;
    opacity: 0.7;
}

.epic-box img:hover {
    opacity: 1;
}

details {
    border: 1px solid gray;
    max-height: 300px;
    overflow: auto;
    padding: 10px;
    font-size: 15px;
    box-shadow: 2px 2px 3px gray;
}

details p {
    font-size: 15px;
    color: var(--text_color);
    font-family: 'Macondo', cursive;
    padding: 5px;
}

hr {
    background-color: gold;
}

/* Log In Section */

.sign-up {
    /* max-width: 800px; */
    margin: 20px auto 0 auto;
    background-color: gray;
}

.sign-up h2 {
    text-align: center;
    margin-bottom: 10px;
    color: var(--main_color);
    text-shadow: 2px 2px 3px black;
    font-size: 30px;
}

.signUp-box {
    margin: 0 auto;
    border: 2px solid black;
    max-width: 300px;
    padding: 10px;
}

.signUp-box input {
    width: 280px;
    margin-bottom: 5px;
    border: 1px solid var(--main_color);
    outline: none;
    font-family: 'Macondo', cursive;
    box-shadow: 2px 2px 3px black;
}

.signUp-box p {
    font-family: 'Macondo', cursive;
    font-size: 15px;
}

/* Contact Section */

.contact {
    background-color: gray;
}

.contact-box {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.contact-box p, .contact-box span{
    font-family: 'Macondo', cursive;
    color: black;
    text-shadow: 3px 3px 3px var(--main_color);
}

.contact-box i {
    margin-right: 10px;
}

.footer {
   display: flex;
   justify-content: center;
   padding-bottom: 5px;
}

.footer p {
    font-size: 15px;
    font-family: 'Macondo', cursive;
}



